* {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto; }

.background {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background.png");
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.form-photo {
  background-image: url("../images/bart.jpg");
  border: 2px solid rgba(46, 0, 187, 0.56);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: 50px;
  background-position: center; }

.form_container {
  position: relative;
  max-width: 90%;
  width: 700px;
  box-shadow: 4px 4px 6px 0 rgba(135, 134, 134, 0.49);
  margin: 0 auto;
  height: auto;
  border-radius: 2px; }

.form_border-top {
  height: 80px;
  background-color: rgba(46, 0, 187, 0.56);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.form_border-bottom {
  height: 80px;
  background-color: #e5e5e5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid rgba(38, 63, 112, 0.26);
  margin-top: -70px; }

.form {
  background-color: #f9f9f9;
  padding: 30px 40px 10px; }
  @media (max-width: 768px) {
    .form {
      padding: 30px 8px 10px; } }
  .form h4 {
    font-weight: normal;
    margin: 0; }

.asterisc-top {
  position: absolute;
  top: 1px;
  right: -35px;
  font-size: 25px;
  cursor: pointer;
  color: white; }

.asterisc-bottom {
  position: absolute;
  top: 1px;
  right: -35px;
  font-size: 25px;
  cursor: pointer;
  color: white; }

.form__input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(38, 63, 112, 0.64);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 15px;
  margin-bottom: 35px; }

.form__input::placeholder {
  color: #BDC6CD; }

.forgotten__button {
  cursor: pointer;
  background: none;
  color: rgba(46, 0, 187, 0.56);
  border: 1px solid transparent;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; }

.form__button {
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(38, 63, 112, 0.64);
  color: #BDC6CD;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 16px; }

.check {
  font-size: 11px;
  padding: 5px;
  margin-right: 5px;
  width: 18px;
  height: 18px; }

.remember {
  white-space: nowrap; }

.required-top {
  position: absolute;
  top: 85px;
  right: 8px;
  visibility: hidden; }
  .required-top .sign {
    width: 100px;
    height: 31px;
    background-color: rgba(46, 0, 187, 0.56);
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    z-index: 9; }
  .required-top .square {
    width: 15px;
    height: 15px;
    background-color: rgba(46, 0, 187, 0.56);
    transform: rotate(45deg);
    position: absolute;
    top: 23px;
    right: 40px; }

.required-bottom {
  position: absolute;
  top: 172px;
  right: 8px;
  visibility: hidden; }
  .required-bottom .sign {
    width: 100px;
    height: 31px;
    background-color: rgba(46, 0, 187, 0.56);
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    z-index: 9; }
  .required-bottom .square {
    width: 15px;
    height: 15px;
    background-color: rgba(46, 0, 187, 0.56);
    transform: rotate(45deg);
    position: absolute;
    top: 23px;
    right: 40px; }

#result {
  text-align: right;
  margin-top: -35px;
  font-size: 1em; }

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 43px; }
  @media (max-width: 499px) {
    .form-footer {
      justify-content: center; } }

.invisible {
  display: none; }

.visible {
  display: block; }

.form_container-reset {
  position: relative;
  max-width: 90%;
  width: 700px;
  box-shadow: 4px 4px 6px 0 rgba(135, 134, 134, 0.49);
  margin: 0 auto;
  height: auto;
  border-radius: 2px; }

.form_border-top-reset {
  height: 80px;
  background-color: rgba(46, 0, 187, 0.56);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  @media (max-width: 680px) {
    .form_border-top-reset {
      padding-left: 152px; } }
  .form_border-top-reset h2 {
    text-align: center;
    color: white;
    padding: 25px;
    margin: 0 auto; }
    @media (max-width: 680px) {
      .form_border-top-reset h2 {
        text-align: left; } }

.info-text {
  font-size: 1em; }

.form_border-bottom-reset {
  height: 80px;
  background-color: #e5e5e5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid rgba(38, 63, 112, 0.26);
  margin-top: -70px; }

.form-reset {
  background-color: #f9f9f9;
  padding: 10px 40px 10px;
  line-height: 1.4em; }
  @media (max-width: 768px) {
    .form-reset {
      padding: 30px 8px 10px; } }

.form-photo-reset {
  background-image: url("../images/bart.jpg");
  border: 2px solid rgba(46, 0, 187, 0.56);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: 50px;
  background-position: center; }

.form__button-cancel {
  background-color: white;
  cursor: pointer;
  border: 1px solid red;
  color: red;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 16px; }

.form__button-reset {
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(38, 63, 112, 0.64);
  color: #BDC6CD;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 16px; }

.form-footer-reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 43px; }

.input-wrapper {
  position: relative; }
  .input-wrapper .triangle {
    display: flex;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1; }
  .input-wrapper .asterisc {
    position: absolute;
    right: 1px;
    top: 1px;
    border-right: 40px solid rgba(46, 0, 187, 0.56);
    border-bottom: 32px solid transparent;
    border-left: transparent;
    border-top: transparent; }

/*# sourceMappingURL=style.css.map */
