// font
$Montserrat: Montserrat;

// colors

$form-blue: rgba(46, 0, 187, 0.56);
$formGrey: rgb(249, 249, 249);
$border-bottom: rgb(229, 229, 229);
$button-color: rgb(255, 255, 255);
$placeholder: #BDC6CD;


// font colors
$deepBlue: #263f70;
$bodyFontColor: #212529;
